<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <!--revisar esto libreria de iconos fafa-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        #contenidocentral {
            margin-top: 70px;
        }

        .navbar {
            background-color: #046E8F;
        }

        .nav-item,
        .navbar-brand {
            color: white;
        }

        .card-header {
            background-color: #046E8F;
            color: white;
            font-weight: bold;
        }

        #btnsubmitcompra {
            background-color: #046E8F;
            color: white;
            
            margin-top: 20px;
        }
    </style>
</head>

<body>

    <!-- -------------------------NAV BAR-------------- -->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/usuario/logout">Librería</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
                <a class="nav-item nav-link fa fa-book" href="/libro/catalogo"> Libros</a>
                <a class="nav-item nav-link fa fa-shopping-cart" href="/libro/carrito"> Carrito</a>

            </div>
        </div>
    </nav>
    <!-- ---------------------------------------------- -->

    <div class="row" id="contenidocentral">
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
            <!-- --------------------------------------------------------------------------- -->

            <% const existeCarrito=typeof carrito !== "undefined"; %>
            <% if(existeCarrito){ %>
            <% carrito.forEach((libro)=>{ %>

            <div class="card" id="unidadcatalogo">

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <p>
                                <strong>ISBN:</strong> <%= libro.isbn %><br>
                                <strong>TÍTULO:</strong> <%= libro.titulo %><br>
                                <strong>AUTOR:</strong> <%= libro.autor %><br>
                                <strong>CATEGORÍAS:</strong>
                                <% categoriasPorLibro.forEach((cat)=>{ %>
                                <% if(cat.id==libro.id){ %>
                                <%= cat.nombre %>
                                <% } %>
                                <% }); %> <br>
                                <strong>EDICIÓN:</strong> <%= libro.edicion %><br>
                                <strong>EDITORIAL:</strong> <%= libro.editorial %><br>
                                <strong>PRECIO:</strong> <%= libro.precio %>
                            </p>

                        </div>
                        <div class="col-lg-4 text-center">
                            <form action="/libro/agregarcarrito" method="POST">
                                <div id="spinnercantidad" class="row text-center">
                                    <div onclick="cambiarCantidad('<%=libro.id%>','-')" class="triangle-left minus">
                                    </div>
                                    <input id="inputcl<%=libro.id%>" type="number" class="count text-center"
                                        name="cantidad" value="1">
                                    <div onclick="cambiarCantidad('<%=libro.id%>','+')" class="triangle-right plus">
                                    </div>
                                </div>
                                <div id="buttoncarrito">
                                    <input type="hidden" name="idLibro" value="<%= libro.id %>">
                                    <button type="submit" class="btn btn-info btn-xlarge fa fa-cart-plus"></button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
                <!-- <div class="card-footer text-muted">
              2 days ago
            </div> -->
            </div>

            <% }); %>
            <% } %>




        </div>

        <div class="col-lg-3">

            <div class="card">
                <div class="card-header text-center">
                    Información de la compra
                </div>

                <div class="card-body">
                    <form action="">
                        <label for="idtotal">Total a pagar:</label>
                        <input class="form-control" id="idtotal" type="text" name=""> <br>
                        <label for="idformapago">Forma de pago:</label>
                        <input class="form-control" id="idformapago" type="text" name=""> <br>
                        <label for="idnotarjeta">N° Tarjeta:</label>
                        <input class="form-control" id="idnotarjeta" type="text" name="">

                        <div class="text-center">
                            <button id="btnsubmitcompra" class="btn btn-xlarge fa fa-check"> Comprar</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
        <div class="col-lg-2"></div>

    </div>
</body>

</html>